@{
    ViewData["Title"] = "Azure Event Grid Viewer";
}

<div id="app">

    <div class="title-container">
        <h2>Azure Event Grid Viewer</h2>
        <h5 class="environment"
            title="Environment where events are listened on">
            @ViewData["Environment"]
        </h5>
    </div>
    <div class="subtitle-container">
        <h5>HeadPower flavored</h5>
        <div class="actions">

            <button v-if="receiveEvents"
                class="icon-button"
                title="Pause receiving events"
                @@click="receiveEvents = false">
                <span class="material-icons">pause</span>
            </button>
            <button v-else
                class="icon-button toggled"
                title="Continue receiving events"
                @@click="receiveEvents = true">
                <span class="material-icons">play_arrow</span>
            </button>

            <button class="icon-button"
                title="Clear events"
                @@click="clearEvents()">
                <span class="material-icons">delete</span>
            </button>

        </div>
    </div>

    <hr>

    <div class="filter-container">
        <div class="input-with-clear">
            <input type="text"
                placeholder="Filter by event type"
                v-model="eventTypeFilter">
            <span class="input-clear material-icons"
                @@click="eventTypeFilter = ''">close</span>
        </div>
        <div class="input-with-clear">
            <input type="text"
                placeholder="Filter by subject"
                v-model="subjectFilter">
            <span class="input-clear material-icons"
                @@click="subjectFilter = ''">close</span>
        </div>
    </div>

    <div>
        Showing {{filteredEvents.length}} of {{events.length}} events
    </div>

    <div v-if="connectionState === 2"
        class="connection-disconnected">
        Live link disconnected. Reconnecting...
    </div>
    <div v-if="connectionState === 3"
        class="connection-disconnected">
        Unable to connect to live link. Please refresh the page.
    </div>

    <table class="events-table">
        <thead>
            <tr>
                <th>
                    <span class="expand-collapse-all material-icons"
                        @@click="expandCollapseAll()">
                        {{ areAllExpanded ? 'expand_less' : 'expand_more' }}
                    </span>
                </th>
                <th>Event type</th>
                <th>Subject</th>
            </tr>
        </thead>
        <tbody>
            
            <template v-for="item of filteredEvents">

                <tr class="event-info"
                    @@click="item.expanded = !item.expanded">
                    <td>
                        <span class="expand-collapse material-icons">
                            {{ item.expanded ? 'expand_less' : 'expand_more' }}
                        </span>
                    </td>
                    <td>{{item.eventType}}</td>
                    <td>{{item.subject}}</td>
                </tr>

                <tr v-if="item.expanded"
                    class="event-data">
                    <td colspan="3">
                        <pre><code>{{item.eventData}}</code></pre>
                    </td>
                </tr>

            </template>

            <tr v-if="filteredEvents.length === 0"
                class="no-rows">
                <td colspan="3">
                    Waiting for the first event...
                </td>
            </tr>

        </tbody>
    </table>

</div>

@section scripts {
    <script src="~/js/views/home/index.min.js" asp-append-version="true"></script>
}